:host {}

.container {
    margin-bottom: 20px;
}

.sprint {
    display: flex;
    margin-right: 10px;

    .prefix {
        margin-right: 5px;
        font-style: italic;
    }

    .name {
        font-weight: bold;

    }
}

.plus-icon {
    margin-left: 10px;
}

.edit-icon {
    margin-left: 10px;
}

.delete-icon {
    margin-left: 10px;
}