:host {}

.container {
    box-shadow: 0px 0px 5px -1px gray;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sprint {
    padding: 10px;
    display: flex;

    .name {
        font-weight: bold;
        flex: 1;
    }
}

.tasks {
    .header {
        display: flex;

        padding: 10px;
        border-top: solid 1px black;
    }

    .task {
        display: flex;

        padding: 10px;

        background-color: #eaeaea;
        border: 1px solid #c4bbbb;
        box-shadow: 0px 0px 4px -2px gray;
    }

    .order {
        margin-right: 10px;
    }

    .name {
        flex: 1;
    }
}

.plus-icon {
    margin-left: 10px;
}

.edit-icon {
    margin-left: 10px;
}

.delete-icon {
    margin-left: 10px;
}