.container {
    padding: 10px;
    margin-top: 15px;
    box-shadow: 0px 0px 7px -1px gray;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.group {
    display: flex;
    margin-right: 10px;

    .prefix {
        margin-right: 5px;
        font-style: italic;
    }

    .name {
        font-weight: bold;
        margin-right: 10px;

    }

    .count {}

    .count.done {
        color: #009688;
        font-weight: bold;
    }
}

.tasks {
    margin-top: 10px;

    .task {
        display: flex;
        padding: 10px;
        margin-top: 7px;
        border-radius: 5px;
        background-color: #ebebeb;

    }

    .task.done {

        background-color: #019487;
        color: white;
    }

    .order {
        margin-right: 10px;
    }

    .name {
        width: 250px;
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
    }

    .description {
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
    }
}

.plus-icon {
    margin-left: 10px;
}

.edit-icon {
    margin-left: 10px;
}

.delete-icon {
    margin-left: 10px;
}