.header {
    margin-bottom: 10px;
    font-size: 24px;
}

.inputs {
    input {
        padding: 10px;
        margin-bottom: 10px;
    }
}

.actions {
    display: flex;
    flex-direction: column;

    button {
        padding: 10px;
        margin-bottom: 10px;
    }
}