:host {
    display: flex;

    margin-bottom: 10px;

    :hover {
        background-color: gainsboro;
    }
}

div {
    border: 1px solid;
    padding: 10px;
    flex: 1;
}

button {
    margin-left: 10px;
    padding: 10px;
}