/* You can add global styles to this file, and also import other style files */

body,
html {
    padding: 0;
    margin: 0;
}

.plus-icon {
    background-image: url(/icons/plus-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.edit-icon {
    background-image: url(/icons/pencil-square.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.delete-icon {
    background-color: red;
    mask-image: url(/icons/trash.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 20px;
    height: 20px;
}