/* You can add global styles to this file, and also import other style files */

body,
html {
    padding: 0;
    margin: 0;
    -webkit-appearance: none !important;
    border-radius: 0;
}

button,
select {
    -webkit-appearance: none !important;
}

dialog {
    max-width: 350px;
    width: 70%;
    margin-top: 0;
    top: 100px;
}

.plus-icon {
    background-image: url(/assets/plus-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.edit-icon {
    background-image: url(/assets/pencil-square.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.delete-icon {
    background-color: red;
    mask-image: url(/assets/trash.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 20px;
    height: 20px;
}

.flex-1 {
    flex: 1;
}

.btn-red {
    color: white;
    background-color: red;
}